.pictures__picture-title{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-transform: capitalize;
  color: #000000;
  margin: 0;
  text-align: left;
  margin: 5px 15px 0;
  text-overflow: ellipsis;
  max-width: 360px;
  overflow: hidden;
  white-space: nowrap;
}
