.header__theme-switcher {
  background-image: url(../../../images/theme-switcher.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  width: 22px;
  height: 22px;
  margin-left: auto;
  transition: 0.3s;
}

.header__theme-switcher:hover {
  cursor: pointer;
  opacity: 0.7;
}
