.pictures__picture {
  border: 2.5px solid;
  width: 280px;
  height: 205px;
  border-radius: 20px;
  background-color: transparent;
  margin: 0;
  padding: 0;
  display: flex;
  overflow: hidden;
  position: relative;
}
